name: "merge pull request"

on:
    pull_request: 
        types: [opened]

permissions: write-all
jobs:
    merge-pr:
        env:
            GH_TOKEN: ${{ github.token }}
        runs-on: ubuntu-latest
        steps:
        - name: get pr number
          run: gh pr review ${{ github.event.number }} --approve 
        
        - run: sleep 20
        - run: gh pr merge --squash ${{ github.event.number }}